.banner{
    background-image: none;
    position: relative;

    &__background{
        position: absolute;
        width: 100% !important;
        z-index: -2;
        animation: animateBottom 2s;
        margin-top: 0px !important;

    }

    .banner__logo{
        animation: animateTopLogo 2s
    }
    
}


 @keyframes animateTopLogo {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }